* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* DEFINE GLOBAL VARIABLES */

:root {
  /* WEB PAGE PALLETE */
  --main-color: #32213A;
  --secondary-color: #FCF7FF;
  --accent-color: #9879FF;

  /* WEB FONTS */
  --title-font: "Annapurna SIL", serif;
  --paragraph-font: "DejaVu Sans", sans-serif;
  --calculator-font: "NATS", sans-serif;

  /* LAYOUT VARIABLES */
  --header-height: 4rem;

  --calculator-display-size: 4rem;
  --calculator-button-size: 3rem;
  --calculator-buttons-gap: 0.3rem;

  --footer-height: 6rem;
}

/* header */

.header {
  background-color: var(--main-color);
  color: var(--secondary-color);
  height: var(--header-height);
  padding: 0.4rem 15vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  flex-shrink: 1;
  font-family: var(--title-font);
}

.header__links {
  list-style: none;
  display: flex;
  gap: 1.2rem;
  flex-shrink: 1;
}

.header__link {
  text-decoration: none;
  font-family: var(--paragraph-font);
  color: inherit;
}

/* content */

.content {
  background-color: var(--secondary-color);
  height: calc(100vh - var(--header-height) - var(--footer-height));
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* content > calculator */

.calculator {
  background-color: var(--main-color);
  border: 0.3rem solid var(--main-color);
  border-radius: 0.5rem;
  max-height: max-content;
  padding: 0.5rem;
  display: inline-flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
}

.calculator__display {
  font-family: var(--paragraph-font);
  font-size: 1.2rem;
  color: var(--main-color);
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
  height: var(--calculator-display-size);
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator__buttons {
  height: calc(var(--calculator-button-size) * 4 + var(--calculator-buttons-gap) * 3);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: var(--calculator-buttons-gap);
}

.calculator__buttons-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.calculator__number-buttons,
.calculator__control-buttons,
.calculator__operator-buttons {
  gap: var(--calculator-buttons-gap);
}

.calculator__number-buttons {
  width: calc(var(--calculator-button-size) * 3 + var(--calculator-buttons-gap) * 2);
  height: calc(var(--calculator-button-size) * 4 + var(--calculator-buttons-gap) * 3);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}

.calculator__control-buttons {
  width: calc(var(--calculator-button-size) * 2 + var(--calculator-buttons-gap) * 1);
  height: calc(var(--calculator-button-size) * 1);
  display:flex;
}

.calculator__operator-buttons {
  width: calc(var(--calculator-button-size) * 2 + var(--calculator-buttons-gap) * 1);
  height: calc(var(--calculator-button-size) * 3 + var(--calculator-buttons-gap) * 2);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.calculator__button {
  font-family: var(--calculator-font);
  font-size: 1.8rem;
  text-align: center;
  line-height: 1.85;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 0.5rem;
  height: var(--calculator-button-size);
  aspect-ratio: 1 / 1;
}

.calculator__button:hover {
  filter: brightness(95%);
}

.calculator__button--longer {
  width: calc(var(--calculator-button-size) * 2 + var(--calculator-buttons-gap));
  height: var(--calculator-button-size);
  aspect-ratio: unset;
}

.calculator__button--taller {
  height: calc(var(--calculator-button-size) * 2 + var(--calculator-buttons-gap));
  width: var(--calculator-button-size);
  aspect-ratio: unset;
}

.calculator__button--clear-entry,
.calculator__button--clear-all {
  color: var(--secondary-color);
  background-color: #EF233C;
}

.calculator__button--multiply,
.calculator__button--add,
.calculator__button--divide,
.calculator__button--reduce,
.calculator__button--equal {
  background-color: #ffd65c;
}

/* footer */

.footer {
  background-color: var(--secondary-color);
  height: var(--footer-height);
  padding: 0 1rem;
}