* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* DEFINE WEB PALLETE */

:root {
  --main-color: #32213A;
  --secondary-color: #E9F1F7;
  --accent-color: #9879FF;
}

/* header */

.header {
  background-color: var(--main-color);
  color: var(--secondary-color);
  height: 4rem;
  padding: 0.4rem 15vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  flex-shrink: 1;
}

.header__links {
  list-style: none;
  display: flex;
  gap: 1.2rem;
  flex-shrink: 1;
}

.header__link {
  text-decoration: none;
  color: inherit;
}